
<html lang="PT-BR">

    <head>
    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mania de Vender</title>
        
        <link rel="shortcut icon" href="/public/img/logo.jpeg" type="logo.jpeg">
    
        <link rel="stylesheet" href="public/styles/partials/acessorios.css">
            
       </head>
    <body>
      
       <img src="/public/img/logo.jpeg" alt="logo" width="400" height="400" id="logo" />
    
     
    <a>
        <img src="" alt="acessorio"  width="393" height="550" id="roupa" />
        <img src="" alt="acessorio"  id="roupa1" width="524" height="548" /> 
        <img src="" alt="acessorio" id="roupa2" width="566" height="536" />
     
        <a
        href="/index.html" 
        >
        <img src="/public/img/icons/seta.png" alt="seta" width="30" height="20" id="seta" />

    </a>
    
        <canvas
        id="barraUp" 
        >
        </canvas> 
    
        <div id="divBusca">
    
       <input type="text" id="txtBusca" placeholder="digite o que precisa..."/>
       <id="btnBusca" alt="Digite o que precisa"/>
          
        </div>
    
        <p>
            
        <font size="4" face="lato" id="opcao">
        ACESSÓRIOS
        </font>     
       
        </p>
    
        <script type="">
    
        var c=document.getElementById("barraUp");
        var ctx=c.getContext("2d");
        ctx.fillStyle="#c4c4c4" ;
        ctx.fillRect(0,18,2000,2000)
    
        </script> 
        
    </body>
    </html>